body {
    font-family: 'Montserrat Alternates', sans-serif;
}

button {
    height: 80px;
}

.form-title-input {
    height: 30px;
}

.form-description-input {
    height: 150px;
}

form {
    margin: auto;
    width: 70%;
}

.quote-title {
    padding: 5px;
    border-right: 1px solid black;
    font-size: 1.3em;
}

p {
    padding: 10px;
}

.quote-card {
    border: 5px solid black;
    display: flex;
    width: 265px;
}

.main-content {
    display: grid;
    grid-gap: 20px 15px;
    padding: 20px 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    overflow: scroll;
}

header {
    height: 300px;
    background: #aeebcc;
    align-items: center;
    border: 5px solid #aeebcc;
    display: flex;
}

.header-content-holder {
    border: 1px solid red;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

span {
    font-weight: 300;
}

.delete-div {
    height: 18px;
    float: right;
    padding: 3px;
}

/* .delete-div:hover {
    cursor: pointer;
} */